In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("PAN Number Validation Dataset.xlsx")

In [3]:
print(df.head(20))
print(df.shape)

     Pan_Numbers
0     VGLOD3180G
1     PHOXD7232L
2     MGEPH6532A
3     JJCHK4574O
4     XTQIJ2330L
5     HTJYM3835H
6     YQTAP6661X
7     hvofe5635y
8   hyuij7902r
9     idsmt3429e
10    abkjn5176j
11    vuczu0860t
12    hzvmg3577f
13    owuis0525p
14    ETVSQ2345L
15    TWNGF1358L
16    OUPMW5639M
17    TLVFA0299E
18  DOURT5035Y.
19    GAVCQ1260C
(10000, 1)

In [4]:
print(df.head())

  Pan_Numbers
0  VGLOD3180G
1  PHOXD7232L
2  MGEPH6532A
3  JJCHK4574O
4  XTQIJ2330L

In [ ]:
                                                # DATA CLEANING

In [5]:
print('\n')
print(df[df['Pan_Numbers']==''])
print(df[df['Pan_Numbers'].isna()])

Empty DataFrame
Columns: [Pan_Numbers]
Index: []
     Pan_Numbers
5022         NaN
5027         NaN
5033         NaN
5043         NaN
5057         NaN
...          ...
9961         NaN
9972         NaN
9986         NaN
9987         NaN
9997         NaN

[965 rows x 1 columns]

In [6]:
df["Pan_Numbers"] = df["Pan_Numbers"].astype("string").str.strip().str.upper() #converting in the uppercase the all data
print(df.head(10))

  Pan_Numbers
0  VGLOD3180G
1  PHOXD7232L
2  MGEPH6532A
3  JJCHK4574O
4  XTQIJ2330L
5  HTJYM3835H
6  YQTAP6661X
7  HVOFE5635Y
8  HYUIJ7902R
9  IDSMT3429E

In [7]:
df = df.replace({"Pan_Numbers":''},pd.NA)
print(df[df['Pan_Numbers']==''])

Empty DataFrame
Columns: [Pan_Numbers]
Index: []

In [8]:
print(df[df['Pan_Numbers'].isna()])

     Pan_Numbers
5019        <NA>
5020        <NA>
5022        <NA>
5027        <NA>
5033        <NA>
...          ...
9961        <NA>
9972        <NA>
9986        <NA>
9987        <NA>
9997        <NA>

[967 rows x 1 columns]

In [9]:
# Check for NaN or empty string after stripping spaces
empty_rows = df[df['Pan_Numbers'].isna() | (df['Pan_Numbers'].str.strip() == "")]
print(empty_rows)

     Pan_Numbers
5019        <NA>
5020        <NA>
5022        <NA>
5027        <NA>
5033        <NA>
...          ...
9961        <NA>
9972        <NA>
9986        <NA>
9987        <NA>
9997        <NA>

[967 rows x 1 columns]

In [10]:

# Replace empty strings "" with NaN
df["Pan_Numbers"] = df["Pan_Numbers"].replace("", pd.NA)

# Now check missing values
print(df["Pan_Numbers"].isna().sum())

967

In [11]:
df = df.replace({"Pan_Numbers":''},pd.NA).dropna(subset='Pan_Numbers')
print('total records = ' ,len(df))

total records =  9033

In [12]:
# checking duplicates
print('total Records = ' ,len(df))
print('Unique Records= ' ,df["Pan_Numbers"].nunique())
print("Duplicate Pans:", len(df) - df["Pan_Numbers"].nunique())
print('total NA Records = ',df["Pan_Numbers"].isna().sum())

total Records =  9033
Unique Records=  9025
Duplicate Pans: 8
total NA Records =  0

In [13]:
# DROP DUPLICATES
df = df.drop_duplicates(subset="Pan_Numbers",keep='first')
print('total Records = ' ,len(df))
print('Unique Records= ' ,df["Pan_Numbers"].nunique())
print("Duplicate Pans:", len(df) - df["Pan_Numbers"].nunique())

total Records =  9025
Unique Records=  9025
Duplicate Pans: 0

In [ ]:
                                                # DATA VALIDATION

In [14]:
def has_adjacent_repitition(pan):#ABCD , ABCDX
    # for i in range (len(pan)-1):
    #     if pan[i] == pan[i+1]:
    #         return True
    # return False
    return(pan[i] == [i+1] for i in range(len(pan)-1))

print(has_adjacent_repitition('ABCD'))
print(has_adjacent_repitition('FGHHH'))
print(has_adjacent_repitition('ABCDX'))
print(has_adjacent_repitition('MNJPQ'))

<generator object has_adjacent_repitition.<locals>.<genexpr> at 0x000001E9E49FB4C0>
<generator object has_adjacent_repitition.<locals>.<genexpr> at 0x000001E9E49FB4C0>
<generator object has_adjacent_repitition.<locals>.<genexpr> at 0x000001E9E49FB4C0>
<generator object has_adjacent_repitition.<locals>.<genexpr> at 0x000001E9E49FB4C0>

In [15]:
# def is_sequencial(pan):
#     # for i in range(len(pan)-1):
#     #     if ord(pan[i+1]) - ord(pan[i]) != 1:
#     #         return False
#     # return True
#     return all(ord(pan[i+1]) - ord(pan[i]) == 1 for i in range(len(pan)-1))

# print(has_adjacent_repitition('ABCD'))
# print(has_adjacent_repitition('MNOPQ'))
# print(has_adjacent_repitition('ABCXY'))
# print(has_adjacent_repitition('MNJPQ'))
def is_sequencial(pan):
    # check if every next character is +1 from previous
    return all(ord(pan[i+1]) - ord(pan[i]) == 1 for i in range(len(pan)-1))


print(is_sequencial('ABCD'))   
print(is_sequencial('MNOPQ'))  
print(is_sequencial('ABCXY'))  
print(is_sequencial('MNJPQ'))

True
True
False
False

In [16]:
import re

In [17]:

def is_valid_pan(pan):
    # 1. Check length
    if len(pan) != 10:
        return False
    
    # 2. Check format with regex
    if not re.match(r'^[A-Z]{5}[0-9]{4}[A-Z]$', pan):
        return False
    
    # 3. Check no adjacent repetition of characters
    if any(pan[i] == pan[i+1] for i in range(len(pan)-1)):
        return False
    
    # 4. Check not sequential like ABCD, 1234, etc.
    if all(ord(pan[i+1]) - ord(pan[i]) == 1 for i in range(len(pan)-1)):
        return False
    
    return True
print(is_sequencial('ABCD'))   
print(is_sequencial('MNOPQ'))  
print(is_sequencial('ABCXY'))  
print(is_sequencial('MNJPQ'))

True
True
False
False

In [22]:
df["Status"] = df['Pan_Numbers'].apply(lambda x: "valid" if is_valid_pan(x) else "invalid")
print(df.head(10))

  Pan_Numbers   Status
0  VGLOD3180G    valid
1  PHOXD7232L    valid
2  MGEPH6532A    valid
3  JJCHK4574O  invalid
4  XTQIJ2330L  invalid
5  HTJYM3835H    valid
6  YQTAP6661X  invalid
7  HVOFE5635Y    valid
8  HYUIJ7902R    valid
9  IDSMT3429E    valid

## valid_cnt = (df["Status"] == 'valid').sum()
invalid_cnt = (df["Status"] == 'invalid').sum()
missing_cnt = total_records - (valid_cnt+invalid_cnt)

print('total records = ',total_records)
print('valid = ',valid_cnt)
print('invalid = ',invalid_cnt)
print('Missing = ',missing_cnt)

In [26]:
df_summary = pd.DataFrame({"TOTAL PROCESSED RECORDS ":[total_records]
                           ,"TOTAL VALID COUNTS":[valid_cnt]
                           ,"TOTAL INVALID COUNT":[invalid_cnt]
                           ,"TOTAL MISSING COUNT":[missing_cnt]})
print(df_summary.head())

   TOTAL PROCESSED RECORDS   TOTAL VALID COUNTS  TOTAL INVALID COUNT  \
0                      9025                3193                 5832

   TOTAL MISSING COUNT
0                    0

In [30]:
import pandas as pd

with pd.ExcelWriter("PAN VALIDATION.xlsx") as writer:
    df.to_excel(writer, sheet_name="PAN Validations 1", index=False)
    df_summary.to_excel(writer, sheet_name="SUMMARY", index=False)